
<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Managment System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</head>
  <body>
    <div class="container">
  <!-- Content here -->
   <h1> All Student Information Details!!!</h1>
   <hr>
   <table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Department</th>
      <th scope="col">Roll No</th>
    </tr>
  </thead>
  <tbody>
    {% for std in stds %}
    <tr>
      <th scope="row">{{std.id}}</th>
      <td>{{std.first_name}}</td>
      <td>{{std.last_name}}</td>
      <td>{{std.dept.name}}</td>
      <td>{{std.Roll_No}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    
  </body>
</html>