<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}">
</head>
<body>
    <h1>{{ head_msg }}</h1>
    <ul>
        <li>{{ sub_msg1 }}</li>
        <li>{{ sub_msg2 }}</li>
        <li>{{ sub_msg3 }}</li>
    </ul>
    <img src="{% static 'images/GUR2L.jpg' %}" alt="YBIT Logo" class="img">
    <img src="{% static 'images/Redi_08.jpg' %}" alt="YBIT Logo" class="img">
    <img src="{% static 'images/images.jpg' %}" alt="YBIT Logo" class="img">
</body>
</html>